@model Roomager.Web.Viewmodels.PaymentsViewModels.PaymentsRecordViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <h4><b>Payments Manager</b></h4>
                </div>

                <div class="panel-body">
                    <div>
                        <a asp-action="CreateRecord" asp-controller="PaymentsManager" class="btn btn-default button-center">
                            Add New Record
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <nav>
                        <ul class="pagination">

                            <li class="page-item @(Model.PagingInfo.DisplayPrev? "" : "disabled")">
                                <a asp-action="Index"
                                   asp-route-year="@Model.PagingInfo.GetPrevPage()">Prev</a>
                            </li>

                            <li class="page-item @(Model.PagingInfo.DisplayFirst? "" : "disabled")">
                                <a asp-action="Index"
                                   asp-route-year="@Model.PagingInfo.PagingYears.First()">First</a>
                            </li>

                            @foreach (var year in Model.PagingInfo.PagingYears)
                            {
                                <li class="page-item @(year == Model.PagingInfo.CurrentPage ? "active" : "")">
                                    <a asp-action="Index" asp-route-year="@year">@year</a>
                                </li>
                            }

                            <li class="page-item @(Model.PagingInfo.DisplayLast? "" : "disabled")">
                                <a asp-action="Index"
                                   asp-route-year="@Model.PagingInfo.PagingYears.Last()">Last</a>
                            </li>

                            <li class="page-item @(Model.PagingInfo.DisplayNext? "" : "disabled")">
                                <a asp-action="Index"
                                   asp-route-year="@Model.PagingInfo.GetNextPage()">Next</a>
                            </li>

                        </ul>
                    </nav>

                    <table class="table table-striped table-hover" style="font-size: 13px">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th>Energy Cost</th>
                                <th>Cold Water Cost</th>
                                <th>Hot Water Cost</th>
                                <th>Gas Cost</th>
                                <th>Total cost</th>
                                <th>Cost/person</th>
                                <th>
                                    <p style="text-align: center;">
                                        Options
                                    </p>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var record in Model.Records)
                            {
                                <tr>
                                    <td>
                                        @record.RecordId
                                    </td>
                                    <td>
                                        @record.AddDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @record.EnergyCost
                                    </td>
                                    <td>
                                        @record.ColdWaterCost
                                    </td>
                                    <td>
                                        @record.HotWaterCost
                                    </td>
                                    <td>
                                        @record.GasCost
                                    </td>
                                    <td>
                                        @record.TotalCost
                                    </td>
                                    <td>
                                        @record.CostPerPerson
                                    </td>
                                    <td>
                                        <div>
                                            <a asp-action="RecordDetails" asp-controller="PaymentsManager" asp-route-id="@record.RecordId" class="btn btn-xs btn-default">Details</a>
                                            <a asp-action="EditRecord" asp-controller="PaymentsManager" asp-route-id="@record.RecordId" class="btn btn-xs btn-default">Edit</a>
                                            <a asp-action="DeleteRecord" asp-controller="PaymentsManager" asp-route-id="@record.RecordId" class="btn btn-xs btn-danger">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>